:root {
    --color_primary: #F1CDB3;
    --color-light-xl: #FFFFFF;
    --color-dark-s: #CDCDCD;
    --color-dark-3xl: #292929;
    --color_primary-light: #FDDCC4;
    --color-dark-l: #545454;
    --color-light-l: #F6F6F6;
    --color-light-s: #FAFAFA;
    --color-dark-m: #B2B2B2;
}


body {
    margin: 0;
}


.container {
    width: 1280px;
    margin: 0 auto;
}


.header {   
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 10px 40px 0;
    height: 100px;  
    background-color: var(--color-light-xl);  
}


h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 26px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.logo_title {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.logo_subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    letter-spacing: 0.1em;
    color: var(--color-dark-3xl);
    margin: 0;
}

.logo_link {
    cursor: pointer;
    text-decoration: none;
}

.menu {
    display: flex;
}

.menu li {
    list-style-type: none;
}


li {
    margin: 20px 20px;
    line-height: 1.4;
}


h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */
    display: flex;
    align-items: center;
    color: var(--color-light-xl);
}


.menu_link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-l);
    text-decoration: none;
}


.menu_link:hover {
    color: var(--color-dark-3xl);
}


.menu_link_active {
    text-decoration: underline solid var(--color_primary);
    text-decoration-thickness: 3px;
    color: var(--color-dark-l);
    text-underline-offset: 5px;
}




.button_slider_item {
    padding-top: 15px;
    margin-top: 20px;
    width: 187px;
    height: 52px;
    left: calc(50% - 207px/2 - 126.5px);
    color: var(--color-dark-3xl);
    background: var(--color_primary);
    border-radius: 100px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    text-decoration: none;
    letter-spacing: 0.06em;
}

.button_slider_item:hover {
    background: var(--color_primary-light);
}


h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}


/* ----PETS---- */

.border_radius {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.pets {
    background-color: var(--color-light-l);
}




.pets_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.pets_content_box {
    text-align: center;
    width: 400px;
    padding-top: 8px;
}

/* ----slider---- */


ul {
    padding-left: 0px;
}


.slider {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
}

.card_item {
    list-style-type: none;
    height: 435px;
    background: var(--color-light-s);
    border-radius: 9px 9px 0px 0px;
}

.card_item:hover {
    background: var(--color-light-xl);
}

.card_wrap {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_image {
    width: 270px;
    height: 270px;
    padding-bottom: 30px;
}

.card_title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}


.button_slider {
    background: none;
    border: 2px solid var(--color_primary);
}


.pet_button_primary {
    padding-top: 15px;
    width: 261px;
    height: 52px;
    left: calc(50% - 207px/2 - 126.5px);
    color: var(--color-dark-3xl);
    background: var(--color_primary);
    border-radius: 100px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    text-decoration: none;
    letter-spacing: 0.06em;
}

.pet_button_primary:hover {
    background: var(--color_primary-light);
}

.button_arrow {
    width: 52px;
    height: 52px;
    border: 2px solid var(--color_primary);
    border-radius: 100px;
    cursor: pointer;
}


.button_arrow:hover {
    background: var(--color_primary-light);
}

.button_arrow_prev {
    margin-top: auto;
    margin-bottom: auto;
}


.button_arrow_next {
    margin-top: auto;
    margin-bottom: auto;
}


.slider_container {
    display: flex;
}

.slider_container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.navigation {
    display: flex;
    width: 340px;
    flex-direction: row;
    justify-content: space-between;
    width: 340px;
    margin: 0 auto;
    padding: 30px 0 100px;
}


.button_current_number {
    color: var(--color-dark-3xl);
    position: relative;
    bottom: 18px;
    left: 22px;
    cursor: pointer;
}



/* arrows on slider's buttons*/

.arrow_right {
    position: relative;
    top: 25px;
    width: 15px;
    height: 2px;
    cursor: pointer;
    background-color: var(--color-dark-3xl);
    left: 20px;
}

.arrow_right div {
    position: relative;
    width: 4px;
    height: 4px;
    bottom: 3px;
    left: 11px;
    border-top: 3px solid var(--color-dark-3xl);
    border-right: 3px solid var(--color-dark-3xl);
    transform: rotate(45deg);
}

.arrow_left {
    position: relative;
    top: 25px;
    width: 15px;
    height: 2px;
    cursor: pointer;
    background-color: var(--color-dark-3xl);
    left: 20px;
}

.arrow_left div {
    position: relative;
    width: 4px;
    height: 4px;
    bottom: 3px;
    left: -3px;
    border-top: 3px solid var(--color-dark-3xl);
    border-right: 3px solid var(--color-dark-3xl);
    transform: rotate(-135deg);
}


.one_arrow_right {
    position: relative;
    width: 8px;
    height: 8px;
    top: 20px;
    left: 20px;
    border-top: 2px solid var(--color-dark-3xl);
    border-right: 2px solid var(--color-dark-3xl);
    transform: rotate(45deg);
}

.one_arrow_left {
    position: relative;
    width: 8px;
    height: 8px;
    top: 20px;
    left: 20px;
    border-top: 2px solid var(--color-dark-3xl);
    border-right: 2px solid var(--color-dark-3xl);
    transform: rotate(-135deg);
}

.first_arrow_right {
    position: relative;
    width: 8px;
    height: 8px;
    top: 20px;
    left: 15px;
    border-top: 2px solid var(--color-dark-3xl);
    border-right: 2px solid var(--color-dark-3xl);
    transform: rotate(45deg);
}

.second_arrow_right div {
    position: relative;
    width: 8px;
    height: 8px;
    top: -7px;
    left: 5px;
    border-top: 2px solid var(--color-dark-3xl);
    border-right: 2px solid var(--color-dark-3xl);
}


.first_arrow_left {
    position: relative;
    width: 8px;
    height: 8px;
    top: 20px;
    left: 25px;
    border-top: 2px solid var(--color-dark-3xl);
    border-right: 2px solid var(--color-dark-3xl);
    transform: rotate(-135deg);
}

.second_arrow_left div {
    position: relative;
    width: 8px;
    height: 8px;
    top: -7px;
    left: 5px;
    border-top: 2px solid var(--color-dark-3xl);
    border-right: 2px solid var(--color-dark-3xl);
}

h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    letter-spacing: 0.06em;
}



/* ----FOOTER---- */


.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0;
    background-image: url("../../assets/images/footer-background.png");
    background: url("../../assets/images/noise_lines_transparent@2X.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

}

.footer_contacts_box {
    padding-top: 20px;
    width: 280px;
    color: var(--color-light-xl);
    margin-bottom: 20px;
}

.footer_location_box {
    padding-top: 20px;
    width: 270px;
    color: var(--color-light-xl);
    margin-bottom: 5px;
}

.contacts_option {
    width: 40px;
    height: 32px;
    padding-right: 20px;
}

.contacts_marker {
    color: var(--color_primary);
    text-decoration: none;
}

.icon_marker {
    width: 22px;
    height: 32px;
    padding-right: 20px;
}

.location_two_lines {
    width: 260px;
}

.location_marker {
    color: var(--color_primary);    
    text-decoration: none;
}


.contacts,
.location {
    display: flex;
    align-items: center;
}


.footer_puppy {
    width: 300px;
    height: 310px;
}

.footer_pic {
    align-self: self-end;
}

.background {
    background-color: var(--color-light-l);
}


.footer_background {
    background-image: url("../../assets/images/footer-background.png");
    background: url("../../assets/images/noise_lines_transparent@2X.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}